<div class="my-container">
  <h1 class="title">Event Catalog</h1>
  <div class="event-grid">
    <div *ngFor="let event of events()" class="event-card" (click)="viewEvent(event.id)">
      <h2 class="event-title">{{ event.name }}</h2>
      <p class="event-date">{{ event.date }}</p>
      <p class="event-price">${{ event.price }}</p>
      <p class="event-status">Status: {{ event.status }}</p>
      <button (click)="buyTicket(event.id, $event)" [disabled]="bookingService.bookingState() === 'PROCESSING'"
        class="buy-button">
        {{
        'Buy Ticket'
        }}
      </button>
    </div>
  </div>

  <app-popup [status]="bookingService.bookingState()"
    (closeModal)="bookingService.bookingState.set('IDLE')"></app-popup>

</div>